// Place all the styles related to the Stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ratios {
  background: blue;
  color: white;
}

.yield {
  background: green;
  color: white;
}

.equity {
  background: brown;
  color: white;
}